<!--modifier fab-->

<mat-dialog-content id="test">

    <div id="boutonCommande">
        <b><h3>Quantité : </h3></b><app-amount-buttons class="app-amount" [(amount)]="amount" (amountChange)="calculatePrice()"></app-amount-buttons>
        <button mat-button class="btn btn-danger" (click)="close()">
            Annuler
        </button>
        <button mat-button class="btn btn-success" (click)="onValid()">
            Valider
        </button>
    </div>

</mat-dialog-content>



