<!--modifier fab-->

<mat-dialog-content id="test">
    <button mat-button mat-dialog-close id="close">X</button>
    <div>
        <ng-container *ngIf="!isMenu()">
            <div class="title">
                <h2 id="nomPizza">{{foodService.productToFood(data).nom}}</h2>
            </div>
            <img src="{{foodService.productToFood(data).photo}}" alt="" id="photo"/><br>

            <div class="container-fluid">
                <div class="row" >
                    <mat-card class="example-card">
                        <div class="titreColonne">Ingrédients de base : </div>

                        <mat-card-content class="test">
                            <div  *ngFor="let ingredient of foodService.productToFood(data).ingredients">
                                <li class="list-group-item"><div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" checked id="{{ingredient}}">
                                    <label class="custom-control-label" for="{{ingredient}}">{{ingredient}}</label>
                                </div>
                                </li>
                            </div>
                        </mat-card-content>
                    </mat-card>


                    <mat-card class="example-card">
                        <div class="titreColonne">Suppléments : </div>

                        <mat-card-content>
                            <li class="list-group-item"><div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="extraFromage" (click)="extraFromage()">
                                <label class="custom-control-label" for="extraFromage">Extra fromage <FONT COLOR="red" >(+1€)</FONT></label>
                            </div></li>
                            <li class="list-group-item"><div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="extraViande" (click)="extraBacon()">
                                <label class="custom-control-label" for="extraViande">Extra viande <FONT COLOR="red" >(+1.5€)</FONT></label>
                            </div></li>
                        </mat-card-content>
                    </mat-card>


                    <mat-card class="example-card">
                        <div class="titreColonne">Type de pâte : </div>

                        <mat-card-content>
                            <li class="list-group-item" id="listcheck"><div class="custom-control custom-checkbox">
                                <div class="form-check" checked >
                                    <input class="form-check-input" type="radio" name="exampleRadios" checked id="Radios1" value="option1" (click)="typePate(1)">
                                    <label class="form-check-label" for="Radios1">
                                        Pâte standart
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="Radios2" value="option2" (click)="typePate(2)">
                                    <label class="form-check-label" for="Radios2">
                                        Pâte épaisse <FONT COLOR="red" >(+1€)</FONT>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="Radios3" value="option3" (click)="typePate(3)">
                                    <label class="form-check-label" for="Radios3">
                                        Extra pâte au fromage <FONT COLOR="red" >(+2.5€)</FONT>
                                    </label>
                                </div>
                            </div></li>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>


        </ng-container>
        <b><h2 class="d-flex justify-content-end">Total : {{price}} €</h2></b>
    </div>
    <div>
        <app-recommandation [searchType]="getSearchType()" [givenType]="getGivenType()"
                            [productId]="data.id"></app-recommandation>
    </div>
    <div id="boutonCommande">
        <b><h3>Quantité : </h3></b><app-amount-buttons class="app-amount" [(amount)]="amount" (amountChange)="calculatePrice()"></app-amount-buttons>
        <button mat-button class="btn btn-danger" (click)="close()">
            Annuler
        </button>
        <button mat-button class="btn btn-success" (click)="onValid()">
            Ajouter au panier
        </button>
    </div>

</mat-dialog-content>



