<!--Composant modifié-->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Sidebar -->
<div class="bg-dark border-right sticky" id="sidebar-wrapper">
  <span id="titreCinema">MenuCinema </span>
  <div class="list-group list-group-flush">
    <span class="spacer"></span>
    <button mat-button style="background-color: transparent; border-color: transparent">
      <mat-icon style="color: #cecece">person</mat-icon>
      <span style="color: #cecece" class="spanText">Profil</span>
    </button>
    <button mat-button style="background-color: transparent; border-color: transparent">
      <mat-icon style="color: #cecece">power_settings_new</mat-icon>
      <span style="color: #cecece" class="spanText">Se déconnecter</span>
    </button>
    <br>
    <br>
    <!-- éléments pour les films-->
    <div class="navMovie" *ngIf="!getExistMovie()" style="top: 20vh; position: absolute;">
    <h3 style="color:#0066FF; padding-left: 13px;font-size: 17px;">Rechercher un film par:</h3>
    <br>
    <h5 style="color:#a5a5a5; padding-left: 5px">Mots clés :</h5>
    <app-search-bar (searchEvent)="onSearch($event)"></app-search-bar>
    <br><br>

    <h5 style="color:#a5a5a5; padding-left: 5px">Categorie :</h5>
    <app-movie-category-filter></app-movie-category-filter>
    <h5 style="color:#a5a5a5; padding-left: 5px">Note :</h5>
    <app-movie-star-filter></app-movie-star-filter>
    </div>
    <br>
    <br>
    <!-- je l'enleve pour le test... vous l'ajouterai apres sa correction
    <app-basket style="padding-top: 20px"></app-basket>
    -->
  </div>

  <!-- éléments pour les pizzas-->
  <div class="navPizza" *ngIf="getExistMovie()" >
<!--    <h3 style="color:#0066FF; padding-left: 13px;font-size: 17px;margin-top: -92px;">Rechercher une pizza par :</h3>
    <br>
    <h5 style="color:#a5a5a5; padding-left: 5px;">mots clés:</h5>
    <app-search-bar (searchEvent)="onSearch($event)"></app-search-bar>
    <h5 style="color:#a5a5a5; padding-left: 5px;margin-top: 10px;">Ingrédients :</h5>
    <div class="radio">
      <label><input type="radio" name="optradio" checked>Crème fraiche</label>
    </div>
    <div class="radio">
      <label><input type="radio" name="optradio">Sauce tomate</label>
    </div>-->
    <app-basket></app-basket>
  </div>
</div>
