<div class="main-div">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <div class="form-div">
            <label *ngIf="!firstConn">
                Photo de profil :
                <input
                       type="file"
                       name="profile"
                       (change)="onFileSelect($event)"
                />
            </label>
            <mat-form-field>
                <input
                        matInput
                        formControlName="firstName"
                        placeholder="Prénom"
                        required
                >
                <mat-error *ngIf="formGroup.get('firstName').invalid">
                    Entrez un prénom valide
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input
                        matInput
                        formControlName="lastName"
                        placeholder="Nom"
                        required
                >
                <mat-error *ngIf="formGroup.get('lastName').invalid">
                    Entrez un nom valide
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input
                        matInput
                        formControlName="mail"
                        placeholder="Mail"
                        required
                >
                <mat-error *ngIf="formGroup.get('mail').invalid">
                    Entrez un mail valide
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input
                        matInput
                        formControlName="tel"
                        placeholder="Tel"
                        required
                >
                <mat-error *ngIf="formGroup.get('tel').invalid">
                    Entrez un numéro de téléphone valide
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input
                        matInput
                        formControlName="streetNumber"
                        placeholder="Numéro de rue"
                        required
                >
                <mat-error *ngIf="formGroup.get('streetNumber').invalid">
                    Entrez un numéro de numéro de rue valide. (pattern: entre 0 99999 ( bis ou ter autorisé)
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input
                        matInput
                        formControlName="streetName"
                        placeholder="Rue"
                        required
                >
                <mat-error *ngIf="formGroup.get('streetName').invalid">
                    Entrez un nom de rue valide
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input
                        matInput
                        formControlName="postalCode"
                        placeholder="Code postal"
                        required
                >
                <mat-error *ngIf="formGroup.get('postalCode').invalid">
                    Entrez un code postal valide. (pattern: 5 chiffres)
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input
                        matInput
                        formControlName="city"
                        placeholder="Ville"
                >
                <mat-error *ngIf="formGroup.get('city').invalid">
                    Entrez un nom de ville valide
                </mat-error>
            </mat-form-field>
        </div>
        <button mat-button class="btn btn-outline-success" type="submit">Submit</button>

    </form>
    <button mat-button class="btn btn-outline-success" (click)="onCancel()" *ngIf="!firstConn">Annuler</button>
</div>
