.logo {
  height: inherit;
  position: relative;
  color: #eeeeee;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  font-size: 2em;
  margin: auto;
}

.spacer {
  flex: 1 1 auto;
}

.rating {
  justify-content: left !important;
  display: unset;
}

