<!-- NEW CODE -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<div class="d-flex" id="wrapper">
    <!-- this will be added to home and pizza so for movies and pizza seperately
    <app-nav-bar></app-nav-bar>

    -->
<!--    <app-stepper-app-movie></app-stepper-app-movie>-->
   <app-nav-bar-movie></app-nav-bar-movie>
    <app-stepper-perso></app-stepper-perso>

                <router-outlet></router-outlet>

    </div>







    <!-- OLD CODE
    <mat-toolbar color="primary">
        <a class="logo" (click)="goToHomepage()">
            <img

                    class="logo"
                    [src]="getLogoPath()"
                    alt=""
            >
            <span>MenuCinema</span>
        </a>
        <span class="spacer"></span>
        <button mat-button (click)="goToProfile()">
            <mat-icon>person</mat-icon>
        </button>
        <button mat-button (click)="signOut()">
            <mat-icon>power_settings_new</mat-icon>
        </button>
    </mat-toolbar>

    <div>
        <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
            <div>
                <input type="file" name="profile" (change)="onFileSelect($event)" />
            </div>
            <div>
                <button type="submit">Upload</button>
            </div>
        </form>
    </div>


    <router-outlet></router-outlet>

    -->
