<!--Composant modifié-->
<div *ngIf="moviesFound !== undefined && moviesFound.total_pages > 1 ">
    <button mat-button (click)="firstTab()" >
        <mat-icon>keyboard_return</mat-icon>
    </button>
    <button mat-button (click)="beforeTab()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-button (click)="nextTab()">
        <mat-icon>arrow_forward</mat-icon>
    </button>
    <button mat-button (click)="lastTab()">
        <mat-icon>keyboard_tab</mat-icon>
    </button>
    <label>{{selectedTab}}/{{moviesFound.total_pages}}</label>
</div>
<table class="table table-bordered">
    <thead class="purple-gradient">
    <tr>
        <th scope="col" width="5%">
            Type
        </th>
        <th scope="col" width="10%">
            Nom
            <button mat-button (click)="sortWithName()">
                <mat-icon>sort</mat-icon>
            </button>
        </th>
        <th scope="col" width="50%">
            Description
        </th>
        <th scope="col" width="10%">
            Score
            <button mat-button (click)="sortWithScore()">
                <mat-icon>sort</mat-icon>
            </button>
        </th>
    </tr>
    </thead>
    <tr class="no_results" *ngIf="moviesFound == undefined || moviesFound.results.length == 0 " >
        <td colspan="4">
            Pas de résultats
        </td>
    </tr>
    <tbody *ngIf="moviesFound !== undefined && moviesFound.results.length >= 0">
    <tr class="each_row" *ngFor="let movie of moviesFound.results" routerLink="/movie/{{movie.id}}" ><!--todo put a href-->
        <th scope="row">Movie</th>
        <td>{{movie.title}}</td>
        <td>{{movie.overview}}</td>
        <td>
            <star-rating
                    [starType]="'svg'"
                    [labelText]="''"
                    [readOnly]="true"
                    [rating]="movie.vote_average / 2"
            ></star-rating>
        </td>
    </tr>
    <!-- TODO: create a row "no more results" at the end of the last page ?-->
    </tbody>
</table>
