.foodBasket{
  position: absolute;
  top: 47vh;
  height: 30vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.inner{
  width: 160px;
  flex: 1;
  overflow-x: hidden;

}

#validation {
  margin-bottom: 10px;
  height: 27px;
  width: 129px;
  font-size: 10px;
  text-align: center;
}


#suppBasket {
  margin-left: -16px;
  color: #ff2916;
}

.foodBasket .aPizza {
  position: relative;
}

.aPizza #prix {
  position: relative;
  left: 115px;
  top: -20px;
}
.aPizza #name {
  position: relative;
  left: 0px;
}
.aPizza #apmount{
  position: relative;
  top: -20px
}
.aPizza #dltFood{
  position: relative;
  left: 22px;
  top: -20px;
}

.filmBasket{
  position: absolute;
  top: 20vh;
}

.filmBasket .filmPrice{
  position: relative;
  left: 60px;
}
.filmBasket .movieName{
  position: relative;
  left: 0px;
  width: 80px;
  cursor: pointer;
}
.filmBasket .deleteFilm{
  position: relative;
  left: 90px;
  top: -40px;
}


.amount-btn {
  margin-right: 10px;
  margin-left: 10px;
}

.basket-div {
  color: white;
}
#titleBasket{
  top: 15vh;
  position: absolute;
  color:#0066FF;
  padding-left: 11px
}

.TextPanier {
  font-size: 9px;
  text-align: right;
  color: white;
}

.TextPanierIndiv {
  font-size: 0.5vw;
}



