<div *ngIf="client != null">

    <app-profile-information
            *ngIf="!edit"
            [myClient]="client"
            (editMode)="goEdit()"
    ></app-profile-information>

    <app-profile-form
            *ngIf="edit"
            [firstConn]="firstConn"
            [tmpClient]="client"
            (editDone)="editDone($event)"
    ></app-profile-form>
    <app-command-history *ngIf="!edit">

    </app-command-history>

</div>
