/* old code
.home-div {
  display: flex;
}

.column_title{
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.movie_desc{
  padding-top: 10px;
}*/


//NEW CODE

//Dialog:
.mat-dialog-container{
  background-color: #0066FF;
}

.figure-obj{
  margin-top: 10px;
  margin-bottom: 26px;
  width: 180px;
  height: 180px;
  position: relative;
  background-color: #a2a2a2;
  text-align: center;
}
.example-card {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 13px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

::ng-deep .mat-horizontal-stepper-header-container {
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-left: 159px;
}



::ng-deep .mat-step-header .mat-step-icon-selected {
  background-color: red;
}

.multiCard {
  box-sizing: border-box;
  margin-bottom: 15PX;
  margin-right: 6px;
  margin-left: 6px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



.btn-group {
  color: white;
  border: 1px solid green; /* Green border */
  background-color: grey;
}


.gallery {
  position: relative;
  z-index: 2;
  left : 170px;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  margin-bottom: 10px;
  margin-top: 15px;
}
.gallery.pop {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
.gallery mat-card {
  -ms-flex-preferred-size: 18.333%;
  flex-basis: 196px;
  //padding: 0.3vw;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);

}
.gallery figure img {
  width: 100%;
  border-radius: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.gallery figure div{
  width: 100%;
  border-radius: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.gallery figure figcaption {
  display: none;
}








