<!--Composant modifié-->
<ul  style="width: 100px"> <!--*ngIf="activeMenu"-->
<li class="nav-item">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="checkAction" (click)="addCategorie('28')">
      <label class="custom-control-label" for="checkAction">Action</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="chekComedie" (click)="addCategorie('35')">
      <label class="custom-control-label" for="chekComedie">Comédie</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="checkAventure" (click)="addCategorie('12')">
      <label class="custom-control-label" for="checkAventure">Aventure</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id= "checkAnim" (click)="addCategorie('16')">
        <label class="custom-control-label" for="checkAnim">Jeunesse</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkDrama"(click)="addCategorie('18')">
        <label class="custom-control-label" for="checkDrama">Drame</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkFant" (click)="addCategorie('14')">
        <label class="custom-control-label" for="checkFant">Fantastique</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id ="checkWar"(click)="addCategorie('10752')">
        <label class="custom-control-label" for="checkWar">Guerre</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkCrime" (click)="addCategorie('80')">
        <label class="custom-control-label" for="checkCrime">Crime</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkRom"(click)="addCategorie('10749')">
        <label class="custom-control-label" for="checkRom">Romance</label>
    </div>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkThr"(click)="addCategorie('53')">
        <label class="custom-control-label" for="checkThr">Thriller</label>
    </div>
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="checkHorreur" (click)="addCategorie('27')">
      <label class="custom-control-label" for="checkHorreur">Horreur</label>
      <br><br><br>
    </div>
  </li>
</ul>
