
#titreCinema {
  color: darkred;
  font-size: 2vw;

}

.spanText {
  color: white;
}

.custom-control.custom-checkbox{
  color : white;
}


.spacer {
  flex: 1 1 auto;
  background-color: #cccccc;
}

.sticky{
  position: fixed;
  width: 10%;
}


body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  width: 13vw;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
