<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<!-- Sidebar -->
<div class="bg-dark border-right sticky" id="sidebar-wrapper">
    <span id="titreCinema">MenuCinema </span>
    <div class="list-group list-group-flush">
        <span class="spacer"></span>
        <button mat-button (click)="goToProfile()">
            <mat-icon>person</mat-icon>
            <span class="spanText">Profil</span>
        </button>
        <button mat-button (click)="signOut()">
            <mat-icon>power_settings_new</mat-icon>
            <span class="spanText">Se déconnecter</span>
        </button>
        <br>
        <app-search-bar (searchEvent)="onSearch($event)"></app-search-bar>
        <br><br>

        <!--we should add the category filter component-->
        <app-category-filter></app-category-filter>

        <!--we should add the star filter as a component-->
        <app-star-filter></app-star-filter>

        <app-basket></app-basket>
        <br>
        <br>

   </div>
</div>
